@import "tailwindcss";

:root {
  --bg-dark: oklch(0.1 0.025 270);
  --bg: oklch(0.15 0.025 270);
  --bg-light: oklch(0.2 0.025 270);
  --bg-lighter: oklch(0.3 0.025 270);
  --text: oklch(0.96 0.05 270);
  --text-muted: oklch(0.76 0.05 270);
  --text-dark: oklch(0.50 0.05 270);
  --highlight: oklch(0.5 0.05 270);
  --border: oklch(0.4 0.05 270);
  --border-muted: oklch(0.3 0.05 270);
  --primary: oklch(0.76 0.1 270);
  --secondary: oklch(0.76 0.1 90);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

html, body, #container {
  @apply w-full m-0 p-0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border);
  border: 1px solid transparent;
  background-clip: content-box;
}

.border-separator {
  border-top: 1px solid;
  border-image: linear-gradient(
    to right,
    var(--bg) 20%,
    var(--highlight) 50%,
    var(--bg) 80%
  ) 1;
}

@theme {
  --animate-fade-in: fade-in 3s;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    },
    100% {
      opacity: translateY(0);
    }
  }
}