@import "tailwindcss";

:root {
  --bg-darker: oklch(0.1 0.025 270);
  --bg-dark: oklch(0.15 0.025 270);
  --bg: oklch(0.175 0.025 270);
  --bg-light: oklch(0.2 0.025 270);
  --bg-lighter: oklch(0.3 0.025 270);
  --text: oklch(0.96 0.05 270);
  --text-muted: oklch(0.76 0.05 270);
  --text-dark: oklch(0.50 0.05 270);
  --highlight: oklch(0.5 0.05 270);
  --border-muted: oklch(0.3 0.05 270);
  --border: oklch(0.4 0.05 270);
  --border-light: oklch(0.5 0.05 270);
  --primary: oklch(0.76 0.1 270);
  --secondary: oklch(0.76 0.1 90);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

html, body, #container {
  @apply w-full m-0 p-0;
}

::-webkit-scrollbar {
  display: none;
}

.border-separator {
  border-top: 1px solid;
  border-image: linear-gradient(
    to right,
    var(--bg) 20%,
    var(--highlight) 50%,
    var(--bg) 80%
  ) 1;
}

.glint-effect {
  position: relative;
  overflow: hidden;
}

.glint-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 60px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.glint-effect:hover::before {
  left: 100%;
}

.animate-fly-from-left, .animate-fly-from-right {
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.animate-progress {
  animation-duration: auto;
  animation-timing-function: linear;
  animation-timeline: scroll(root);
  height: 0;
}

@theme {
  --animate-fade-in: fade-in 3s;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  };

  --animate-slide-fade-in: slide-fade-in 3s;

  @keyframes slide-fade-in {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  };

  --animate-fly-from-left: fly-from-left 1s;

  @keyframes fly-from-left {
    0% {
      transform: translateX(-100%) rotate(-5deg);
    }
    70% {
      transform: translateX(10%) rotate(5deg);
    }
    100% {
      transform: translateX(0) rotate(-1deg);
    }
  }

  --animate-fly-from-right: fly-from-right 1s;

  @keyframes fly-from-right {
    0% {
      transform: translateX(300%) rotate(5deg);
    }
    70% {
      transform: translateX(-10%) rotate(-5deg);
    }
    100% {
      transform: translateX(0) rotate(3deg);
    }
  }

  --animate-progress: progress;

  @keyframes progress {
    to { height: 100%; }
  };

  --animate-chevron-fly-down: chevron-fly-down 2s;

  @keyframes chevron-fly-down {
    20% {
      transform: translateY(-40vh) rotate(0);
    }
    40% {
      transform: translateY(-40vh) rotate(360deg);
    }
    100% {
      transform: translateY(500vh);
    }
  }

  --animate-slow-reverse-invert: slow-reverse-invert 0.5s forwards;
  --animate-slow-invert: slow-invert 3s forwards;

  @keyframes slow-invert {
    0% {
      filter: invert(0)
    }
    100% {
      filter: invert(.8)
    }
  }

  @keyframes slow-reverse-invert {
    0% {
      filter: invert(.8)
    }
    100% {
      filter: invert(0)
    }
  }
}